{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock%}


{% block content %}
<div class="container">
    <h1>Beer API</h1>
    {% for beer in beer_list %}
        <h2>{{ beer.name}}</h2>
        <img src="{{ beer.image_thumb_url}}" alt="{{ beer.producer_name }}">
        <br>
        <br>
        {% load humanize %}
        {% load mathfilters %}
        <h6>Producer Name: {{ beer.producer_name}}</h6>
        <h6>Origin: {{ beer.origin }}</h6>
        <h6>Product Number: {{ beer.product_no }}</h6>
        {% if beer.description != None %}
        <h6>Description: {{ beer.description }}</h6>
        {% endif %}
        <h6>ID: {{ beer.id}}</h6>
        <h6>Primary Category: {{ beer.primary_category }}</h6>
        {% if beer.is_ocb != False %}
        <h6>Is OCB: {{ beer.is_ocb }}</h6>
        {% endif %}
        <h6>Total Package Unit: {{ beer.total_package_units }}</h6>
        <h6>Alcohol Content: {{ beer.alcohol_content }}</h6>
        <h6>Package Unit: {{ beer.package_unit_type.title }}</h6>
        <h6>Package: {{ beer.package }}</h6>
        <h6>Beer Type: {{ beer.secondary_category }}</h6>
        <h6>Tertiary Category: {{ beer.secondary_category }}</h6>
        <h6>Style: {{ beer.style }}</h6>
        <h6>Varietal: {{ beer.varietal }}</h6>
        <h6>Tasting Note: {{ beer.tasting_note }}</h6>
        <h6>Serving Suggestion: {{ beer.serving_suggestion.title }}</h6>
        <h6>Price In Dollars: ${{ beer.price_in_cents|mul:.001 }}</h6>
        {% if beer.sugar_content != None %}
        <h6>Sugar Content: {{ beer.sugar_content }}</h6>
        {% endif %}
        {% if beer.sugar_in_grams_per_liter != None %}
        <h6>Sugar Grams Per Liter: {{ beer.sugar_in_grams_per_liter }}</h6>
        {% endif %}
        <h6>Stock Type: {{ beer.stock_type}}</h6>
        <h6>Package Unit Volume In Milimeters: {{ beer.package_unit_volume_in_milliliters }}</h6>
        <h6>Inventory Volume in Millimeters: {{ beer.inventory_volume_in_milliliters}}</h6>
        <h6>Inventory Value In Dollars: ${{ beer.inventory_price_in_cents|mul:.001 }}</h6>
        <h6>Price Per Liter In Cents: .{{ beer.price_per_liter_in_cents }}</h6>
        <h6>Volume In Millieters: {{ beer.volume_in_milliliters }}</h6>
        {% if beer.has_bonus_reward_miles %}
        <h6>Has Reward Bonus Miles: {{ beer.has_bonus_reward_miles }}</h6>
        {% endif %}
        {% if beer.bonus_reward_miles_ends_on != None %}
        <h6>Bonus Miles End On: {{ beer.bonus_reward_miles_ends_on }}</h6>
        {% endif %}
        {% if beer.bonus_reward_miles != 0%}
        <h6>Reward Miles: {{ beer.bonus_reward_miles }}</h6>
        {% endif %}
        {% if beer.has_limited_time_offer != False %}
        <h6>Has Limited Time Offer: {{ beer.has_limited_time_offer}}</h6>
        {% endif %}
        {% if beer.limited_time_offer_ends_on != None %}
        <h6>Limited Time Offer Ends On: {{ beer.limited_time_offer_ends_on }}</h6>
        {% endif %}
        {% if beer.limited_time_offer_savings_in_cents != 0 %}
        <h6>Limited Time Offer Savings In Cents: {{ beer.limited_time_offer_savings_in_cents }}</h6>
        {% endif %}
        <h6>Inventory Count: {{ beer.inventory_count}}</h6>
        <h6>Tags: {{ beer.tags.title }}</h6>
        {% if beer.is_discontinued != False %}
        <h6>Discontinued: {{ beer.is_discontinued }}</h6>
        {% endif %}
        <h6>Regular Price in Cents: ${{ beer.regular_price_in_cents|mul:.001 }}</h6>
        {% if beer.is_dead != False %}
        <h6>Dead: {{ beer.is_dead }}</h6>
        {% endif %}
        {% if beer.clearance_sale_savings_in_cents != 0%}
        <h6>Clearance Sale Savings In Cents: {{ beer.clearance_sale_savings_in_cents }}</h6>
        {% endif %}
        {% if beer.is_vqa != False %}
        <h6>Is VQA: {{ beer.is_vqa}}</h6>
        {% endif %}
        {% if beer.is_kosher != False %}
        <h6>Is Kosher: {{ beer.is_kosher }}</h6>
        {% endif %}
        {% if beer.is_seasonal != False %}
        <h6>Is Seasonal: {{ beer.is_seasonal }}</h6>
        {% endif %}
        {% if beer.has_clearance_sale != False %}
        <h6>Has Clearance Sale: {{ beer.has_clearance_sale }}</h6>
        {% endif %}
        <h6>Released On: {{ beer.released_on }}</h6>
        {% if beer.has_value_added_promotion != None %}
        <h6>Has Value Added Promotion: {{ beer.has_value_added_promotion }}</h6>
        {% endif %}
        <h6>Value Added Promotion Description: {{ beer.value_added_promotion_description }}</h6>
        <a href="{{ beer.image_url }}">Image Url</a>
        <h6>Last Updated: {{ beer.updated_at.title }}</h6>
        <br>
    {% endfor %}
    <!--<h5>Beer List: {{ beer_list }}</h5>-->
    <h6>Status: {{ beers.status }}</h6>
    <h6>Result: {{ result }}</h6>
    <h6>{{ beers }}</h6>
</div>
{% endblock %}