body{
    background-color:#311D00;
    color:	#DEB887;
}

.container{
     background-color: 	#DEB887;
     color: black;
     border-radius: 10px;
     margin-bottom: 10px;
}

a{
    color: white;
}
